<!-- nuova direttiva *ngIf -->
<!-- appena importato:
    selectedHero lo cambiamo in hero  -->
<div *ngIf="hero">
  <!-- null e undefined trattati come false -->
  <!-- oppure inserire una variavile definita in .ts  
          Es. pippo = this.hero != null && this.hero == 'Narco';-->
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id:</span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
</div>

<button type="button" (click)="goBack()">Torna alla pagina precedente</button>